<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;  charset=iso-8859-1" />
	<meta name="description" content="Mildly coherent ramblings" />
	<meta name="keywords" content="blog" />
 <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />  
 <link rel="stylesheet" type="text/css" href="/css/syntax-default.css" media="all" />  
<title>Kismetik</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27086752-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>

<!-- Top -->
{% include nav.html %}

<!-- Head -->

<div id="top">
  <h1 class="title">journal</h1> 
	<span>notes, thoughts, and information</span>
</div>

<!-- Article Navigation -->
<div class="paginator"> 

<div {% if page.previous.title %} class="previous" {% endif %} class="none_left">
{% if page.previous.title %}
<a class="previous"
    title="Previous page: {{ page.previous.title }}"
        href="{{ page.previous.url }}">
    &larr; Previous Article
</a>
{% endif %}
<a class="none">No articles</a>
</div>

<div {% if page.next.title %}class="next" {% endif %} class="none_right">
{% if page.next.title %}
<a class="next"
    title="Next page: {{ page.next.title }}"
        href="{{ page.next.url }}">
Next Article &rarr;
</a>
{% endif %}
<a class="none">No articles</a>
</div>

</div>


<!-- Content -->


<div id="content">

  <div class="date">
    <ul>
      <li class="day">{{ page.date | date:"%d" }}</li>
      <li class="month">{{ page.date | date:"%b" }}</li>
    </ul>
  </div>

 <div class="entry">
  <h1>{{ page.title }}</h1>

   {{ content }}

 </div>

</div>

  <div id="post_info">
   <ul class="tag_list_in_post">
    <li class="headline">Tagged as</li>
    {% for tag in page.tags %}
    <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
   </ul>
  </div>

<!-- Article Navigation -->
<div class="paginator"> 

<div {% if page.previous.title %} class="previous" {% endif %} class="none_left">
{% if page.previous.title %}
<a class="previous"
    title="Previous page: {{ page.previous.title }}"
        href="{{ page.previous.url }}">
    &larr; Previous Article
</a>
{% endif %}
<a class="none">No articles</a>
</div>

<div {% if page.next.title %}class="next" {% endif %} class="none_right">
{% if page.next.title %}
<a class="next"
    title="Next page: {{ page.next.title }}"
        href="{{ page.next.url }}">
Next Article &rarr;
</a>
{% endif %}
<a class="none">No articles</a>
</div>

</div>

<!-- Comments -->

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'kismetik'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<center><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a></center>

</body>

</html>
